<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pomodoro.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PomodoroFoundation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PomodoroSettings.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PomodoroUIKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SettingsApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Widget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0843C9F21CE5AD900EDB65F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0843CB621CE5ADA00EDB65F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0843CC121CE5ADA00EDB65F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F087251F21CF6719007EB27F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F087252721CF6719007EB27F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0D89E0121D8D6D80011A0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0D89E1F21D8D6DA0011A0B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
